<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adding Dinos</title>
</head>
<body>
    <h1>Add Dinosaur</h1>

    <form method="post">
        Species:
        <input type="text" th:field="${dinosaur.species}"/>
        <span th:if="${errorMsg != null}" th:text="${errorMsg}"  style="color: red"></span>
        <br>
        Diet:
        <select th:field="${dinosaur.diet}">
            <option value="Herbivore">Herbivore</option>
            <option value="Carnivore">Carnivore</option>
            <option value="Omnivore">Omnivore</option>
        </select>
        <br>
        Is the Dino aquatic?
        <select th:field="${dinosaur.aquatic}">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <br>
        <button>Add Dino! 🦖🦕</button>
    </form>
</body>
</html>